<div id="footer">
  <div class="container">
    <div class="row">
      <%= link_to root_path do %>
        <%= image_tag "logo", alt: "logo", width: 127, height: 40 %>
      <% end %>
      <div class="col-sm-12 col-md-4 info">
        <div class="my-3"><%= t(".info.title") %></div>
        <div class="mb-3"><%= t(".info.address") %></div>
        <div class="mb-3"><%= t(".info.phone", phone: Settings.contact.phone) %></div>
      </div>
      <div class="col-sm-6 col-md-4">
        <ul class="nav flex-column">
          <li class="nav-item">
            <%= link_to t(".homepage"), root_path, class: "nav-link#{" active" if request.path == root_path}" %>
          </li>
          <li class="nav-item">
            <%= link_to t(".sign_in"), "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t(".sign_up"), "#", class: "nav-link" %>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-4">
        <ul class="nav flex-column">
          <li class="nav-item">
            <%= link_to t(".price_list"), "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t(".usage_guide"), "#", class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
    <div class="text-center mt-3 copyright"><%= t(".copyright", year: Date.today.year).html_safe %></div>
  </div>
</div>
